@media  screen and (max-width: 980px) {
   #title{
       align-self: center;
       align-items: center;
   }

   header{
       flex-direction: column;
   }
  
   .barra{
       width: 100px;
       margin-top: 40px;
   }

    h2{
        font-size: 30px;
    }
    main{
        flex-direction: column;
        
    }

    form{
        margin: 0 auto;
    }
    
    input{
        align-self: center;
    }

    #mulher{
        display: none;
    }
}